<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Campaign Detail</title>
    <!-- CSS files -->
    <link href="/stylesheets/css/tabler.min.css" rel="stylesheet" />
    <link href="/stylesheets/css/tabler-flags.min.css" rel="stylesheet" />
    <link href="/stylesheets/css/tabler-payments.min.css" rel="stylesheet" />
    <link href="/stylesheets/css/tabler-vendors.min.css" rel="stylesheet" />
    <link href="/stylesheets/css/demo.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fugaz One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gentium Book Basic">
    <style>
      .tit{
            font-family: 'Fugaz One', serif;
          }
      .dtit{
          font-family: 'Gentium Book Basic', serif;
          }
    </style>
  </head>
  <body>
    <% include ./partials/nav %>
    <div class="container">
      <h1 class="tit" style="margin-top: 10px">Canpanign Detail</h1>
      <hr />
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 card" style="padding: 5px">
          <img src="<%= kingCampaign.image %>" alt="" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="margin-top: 10px;">
          <h3 class="dtit">Campaign Title : <%= kingCampaign.title %></h3>
          <h3 class="dtit">Create Date : 23.4.2022</h3>
          <h3 class="dtit">Exp Date : 12.5.2022</h3>
          <h3 class="dtit">Description</h2>
          <p>
            <%= kingCampaign.description %>
          </p>
        </div>
      </div>
      <hr />
      <div>
        <h1 class="tit">Campaign Item</h1>
        <hr />
        <div class="row" style="padding: 5px">
          <% for(var i = 0; i < campaignData.length; i ++){ %> 
            <div class="card col-lg-3 col-md-4 col-sm-6">
              <div class="row">
                <div class="card" style="padding: 5px">
                  <div style="text-align: center">
                    <h1 class="card-title dtit" style="font-size: 25px;"><%= campaignData[i].name %></h1>
                  </div>
                  <img
                    src="<%= campaignData[i].image %>"
                    alt=""
                    width="384px"
                    height="192px"
                  />
                </div>
              </div>
              <div>
                <h3 class="dtit">Description</h3>
                <p style="height: 50px;">
                  <%= campaignData[i].description %>
                </p>
              </div>
              <div class="row" style="margin-bottom: 10px;">
                <div class="col-6">
                  <a href="#" class="btn btn-outline">Cancel</a>
                </div>
                <div class="col-6" style="text-align: end">
                  <a href="#" class="btn btn-outline-success">Vote</a>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </div>

    <!-- footer start  -->
    <% include ./partials/footer %>
    <!-- footer end -->

    <script src="/javascripts/js/demo.min.js"></script>
    <script src="/javascripts/js/tabler.min.js"></script>
  </body>
</html>
